<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Okunishushi</title>

    <!-- Main CSS file -->
    <link rel="stylesheet" href="lib/css/bootstrap.min.css" />
    <link rel="stylesheet" href="lib/css/owl.carousel.css" />
    <link rel="stylesheet" href="lib/css/magnific-popup.css" />
    <link rel="stylesheet" href="lib/css/font-awesome.css" />
    <link rel="stylesheet" href="lib/css/style.css" />
    <link rel="stylesheet" href="lib/css/responsive.css" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="images/Template/icon/favicon.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/Template/icon/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/Template/icon/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/Template/icon/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/icon/Template/apple-touch-icon-57-precomposed.png">

</head>
<body>

    <!-- PRELOADER -->
    <div id="st-preloader">
        <div id="pre-status">
            <div class="preload-placeholder"></div>
        </div>
    </div>
    <!-- /PRELOADER -->

    <!-- HEADER -->
    <header id="header">
        <nav class="navbar st-navbar navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#st-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="logo" href="index.html"><img src="images/Template/logo.png" alt=""></a>
                </div>

                <div class="collapse navbar-collapse" id="st-navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#header">Home</a></li>
                        <li><a href="#services">Services</a></li>
                        <li><a href="#our-works">Works</a></li>
                        <li><a href="#pricing">Pricing</a></li>
                        <li><a href="#our-team">Team</a></li>
                        <li><a href="#contact">Contact</a></li>
                        <li><a href="#blog">Blog</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container -->
        </nav>
    </header>
    <!-- /HEADER -->

    @RenderBody()

    <!-- FOOTER -->
    <footer id="footer">
        <div class="container">
            <div class="row">
                <!-- SOCIAL ICONS -->
                <div class="col-sm-6 col-sm-push-6 footer-social-icons">
                    <span>Follow us:</span>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-pinterest-p"></i></a>
                </div>
                <!-- /SOCIAL ICONS -->
                <div class="col-sm-6 col-sm-pull-6 copyright">
                    <p>&copy; @DateTime.Now.Year.ToString() <a href="">Okuninushi</a>. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- /FOOTER -->
    <!-- Scroll-up -->
    <div class="scroll-up">
        <ul><li><a href="#header"><i class="fa fa-angle-up"></i></a></li></ul>
    </div>


    <!-- JS -->
    <script type="text/javascript" src="lib/js/jquery.min.js"></script><!-- jQuery -->
    <script type="text/javascript" src="lib/js/bootstrap.min.js"></script><!-- Bootstrap -->
    <script type="text/javascript" src="lib/js/jquery.parallax.js"></script><!-- Parallax -->
    <script type="text/javascript" src="lib/js/smoothscroll.js"></script><!-- Smooth Scroll -->
    <script type="text/javascript" src="lib/js/masonry.pkgd.min.js"></script><!-- masonry -->
    <script type="text/javascript" src="lib/js/jquery.fitvids.js"></script><!-- fitvids -->
    <script type="text/javascript" src="lib/js/owl.carousel.min.js"></script><!-- Owl-Carousel -->
    <script type="text/javascript" src="lib/js/jquery.counterup.min.js"></script><!-- CounterUp -->
    <script type="text/javascript" src="lib/js/waypoints.min.js"></script><!-- CounterUp -->
    <script type="text/javascript" src="lib/js/jquery.isotope.min.js"></script><!-- isotope -->
    <script type="text/javascript" src="lib/js/jquery.magnific-popup.min.js"></script><!-- magnific-popup -->
    <script type="text/javascript" src="lib/js/scripts.js"></script><!-- Scripts -->





    @RenderSection("scripts", required: false)
</body>
</html>
