@{
    ViewData["Title"] = "Documents";
    Layout = "_classroomLayout";
}
@model List<Okunishushi.Models.Document>

<div class="container-fluid doctable">
    <div class="card">
        <form action="/api/documentapi/uploaddocuments"
              class="dropzone"
              id="my-awesome-dropzone"></form>
    </div>


    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header" data-background-color="purple">
                    <h4 class="title">Simple Table</h4>
                    <p class="category">Here is a subtitle for this table</p>
                </div>
                <div class="card-content table-responsive ">
                    <form id="search">
                        Search <input name="query" v-model="searchQuery">
                    </form>
                    <document-grid :docs="docs">
                    </document-grid>
                </div>
            </div>
        </div>
        <div class="col-md-6">
        <div class="card">
        <div class="card-header" data-background-color="purple">
        <h4 class="title">Edit Profile</h4>
        <p class="category">Complete your profile</p>
        </div>
        <div class="card-content">
        <form method="post" action="/classroom/newusersave">
        <input type="hidden" name="id" id="id" />
        <div class="row">
        <div class="col-md-5">
        <div class="form-group label-floating">
        <label class="control-label">School Name</label>
        <input type="text" class="form-control" name="schoolname">
        </div>
        </div>
        <div class="col-md-3">
        <div class="form-group label-floating">
        <label class="control-label">Username</label>
        <input type="text" class="form-control" name="username">
        </div>
        </div>
        <div class="col-md-4">
        <div class="form-group label-floating">
        <label class="control-label">Email address</label>
        <input type="email" class="form-control" name="email">
        </div>
        </div>
        </div>
        <div class="row">
        <div class="col-md-4">
        <div class="form-group label-floating">
        <label class="control-label">Password</label>
        <input type="text" class="form-control" name="password">
        </div>
        </div>
        <div class="col-md-4">
        <div class="form-group label-floating">
        <label class="control-label">Confirm password</label>
        <input type="text" class="form-control" name="confpassword">
        </div>
        </div>
        </div>
        <div class="row">
        <div class="col-md-6">
        <div class="form-group label-floating">
        <label class="control-label">Fist Name</label>
        <input type="text" class="form-control" name="firstname">
        </div>
        </div>
        <div class="col-md-6">
        <div class="form-group label-floating">
        <label class="control-label">Last Name</label>
        <input type="text" class="form-control" name="lastname">
        </div>
        </div>
        </div>
        <div class="row">
        <div class="col-md-12">
        <div class="form-group label-floating">
        <label class="control-label">Address</label>
        <input type="text" class="form-control" name="address">
        </div>
        </div>
        </div>
        <div class="row">
        <div class="col-md-4">
        <div class="form-group label-floating">
        <label class="control-label">City</label>
        <input type="text" class="form-control" name="city">
        </div>
        </div>
        <div class="col-md-4">
        <div class="form-group label-floating">
        <label class="control-label">Country</label>
        <input type="text" class="form-control" name="country">
        </div>
        </div>
        <div class="col-md-4">
        <div class="form-group label-floating">
        <label class="control-label">Postal Code</label>
        <input type="text" class="form-control" name="zipcode">
        </div>
        </div>
        </div>
        <div class="row">
        <div class="col-md-12">
        <div class="form-group">
        <label>About Me</label>
        <div class="form-group label-floating">
        <label class="control-label"> Type up your description, pretty please?</label>
        <textarea class="form-control" name="description" rows="5"></textarea>
        </div>
        </div>
        </div>
        </div>
        <button type="submit" class="btn btn-primary pull-right">Update Profile</button>
        <div class="clearfix"></div>
        </form>
        </div>
        </div>
        </div>
    </div>
</div>


<!-- component template -->
<script type="text/x-template" id="document-template">
    <table class="table">
        <thead class="text-primary">
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Tags
                </th>
                <th>
                    Keyname
                </th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="entry in docs">
                <td>
                    <a @@click.stop="showDetails"> {{entry['fileName']}}</a>
                </td>
                <td>
                    {{entry['tags']}}
                </td>
                <td>
                    {{entry['keyName']}}
                </td>
            </tr>
        </tbody>
    </table>
</script>

<script>
    $(function () {
        Vue.component('document-grid', {
            template: '#document-template',
            props: {
                data: {
                    type: Array,
                    default: function () { return [] }
                },
                columns: {
                    type: Array,
                    default: function () { return [] }
                },
                filterKey: String,
                docs: {
                    type: Array,
                    default: function () { return [] }
                },
            },

        })

        // bootstrap the demo
        var docVue = new Vue({
            el: '.doctable',
            data: {
                searchQuery: '',
                docs: [],
                currentId: 0,
            },
            watch: {
                searchQuery: function (newId) {
                    this.getDoc(newId);
                }
            },
            methods: {
                getDoc: function (newId) {
                    var vm = this;
                    $.get("/api/documentapi/docdata?id=" + newId).
                        done(function (data) {
                            //var doc = JSON.parse(data);
                            var count = 0;
                            vm.docs.forEach(function (obj) {
                                if (obj.keyName === data.keyName) {
                                    count = 1;
                                }
                            })
                            if (!count) {
                                vm.docs.push(data);
                            }
                        });
                }
            }
        });
        var myDropzone = Dropzone.forElement("form#my-awesome-dropzone");
        myDropzone.on("success", function (file, message) {
            docVue.searchQuery = message;
        });
    });
</script>
