@{
    ViewData["Title"] = "About";
    Layout = "_scalaLayout";
}

<!-- PAGE TITLE SMALL -->
<div class="sca_page_title sca_page_title_great sca_image_bck sca_fixed sca_wht_txt" data-stellar-background-ratio="0.2" data-image="images/creativity/6mq_l_txzo4-brooke-lark.jpg">


    <!-- Over -->
    <div class="sca_over" data-color="#cfc799" data-opacity="0.8"></div>

    <div class="container text-left">
        <div class="row">

            <div class="col-md-8">
                <h1 class="sca_h1_title">About Page</h1>
                <h3>Some Subtitle</h3>
            </div>

            <div class="col-md-4">
                <div class="breadcrumbs">
                    <a href="#">Home</a><a href="#">PAGES & FEATURES</a><span>About Page</span>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Content -->
<section id="sca_content" class="sca_content">





    <!-- section -->
    <section class="sca_section sca_wht_txt sca_border">
        <div class="container-fluid">


            <div class="sca_team">

                <!--Item-->
                <div class="sca_bordered_block sca_image_bck sca_bordered_zoom sca_bordered_zoom_simple">
                    <div class="sca_over" data-color="#cfc799" data-opacity="0.9"></div>
                    <div class="sca_image_over sca_image_bck" data-image="images/creativity/xci7f25uqss-lauren-mancke.jpg"></div>
                    <div class="sca_box_content text-center">
                        <div class="sca_bottom_title">
                            <i class="ti ti-image"></i>
                            <h3>My Mentoring</h3>
                            <p>Fusce facilisis nec ante et accumsan. Ut malesuada tristique sagittis</p>
                        </div>
                    </div>
                </div>

                <!--Item-->
                <div class="sca_bordered_block sca_image_bck sca_bordered_zoom sca_bordered_zoom_simple">
                    <div class="sca_over" data-color="#cfc799" data-opacity="0.9"></div>
                    <div class="sca_image_over sca_image_bck" data-image="images/creativity/fim-j1b_rc-bench-accounting.jpg"></div>
                    <div class="sca_box_content text-center">
                        <div class="sca_bottom_title">
                            <i class="ti ti-crown"></i>
                            <h3>Successful Stories</h3>
                            <p>Praesent cursus nulla non arcu tempor, ut egestas elit tempus.</p>
                        </div>
                    </div>
                </div>

                <!--Item-->
                <div class="sca_bordered_block sca_image_bck sca_bordered_zoom sca_bordered_zoom_simple">
                    <div class="sca_over" data-color="#cfc799" data-opacity="0.9"></div>
                    <div class="sca_image_over sca_image_bck" data-image="images/creativity/6mq_l_txzo4-brooke-lark.jpg"></div>
                    <div class="sca_box_content text-center">
                        <div class="sca_bottom_title">
                            <i class="ti ti-package"></i>
                            <h3>For Companies</h3>
                            <p>In ac ex fermentum, gravida felis nec, tincidunt ligula. Sed dapibus.</p>
                        </div>
                    </div>
                </div>

                <!--Item-->
                <div class="sca_bordered_block sca_image_bck sca_bordered_zoom sca_bordered_zoom_simple">
                    <div class="sca_over" data-color="#cfc799" data-opacity="0.9"></div>
                    <div class="sca_image_over sca_image_bck" data-image="images/creativity/uz9unioepmw-alejandro-escamilla.jpg"></div>
                    <div class="sca_box_content text-center">
                        <div class="sca_bottom_title">
                            <i class="ti ti-rocket"></i>
                            <h3>Kick Up Your Career</h3>
                            <p>Sed dapibus mauris ullamcorper. Fusce facilisis nec. </p>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <!-- container end -->

    </section>
    <!-- section end -->
    <!-- section -->
    <section class="sca_section sca_section_sml_padding sca_image_bck sca_border sca_grey_border sca_wht_txt sca_fixed" data-stellar-background-ratio="0.2" data-image="images/creativity/v4eozj7g1gw-neven-krcmarek.jpg">


        <div class="sca_over" data-color="#cfc799" data-opacity="0.2"></div>
        <div class="container text-center">
            <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</h3>
            <p>— Eric Brooklyn</p>


        </div>
        <!-- container end -->

    </section>
    <!-- section end -->
    <!-- section -->
    <section class="sca_section sca_image_bck sca_border">
        <div class="container-fluid">
            <div class="row sca_auto_height">
                <div class="col-md-6 sca_bordered_block sca_grey_border">
                    <div class="sca_simple_block">
                        <h2>Eric Brooklyn</h2>
                        <h3>A personal mentor</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio mollitia, ipsa accusamus eius. Aspernatur ab sed minima, doloremque eligendi voluptatibus repellat unde, facilis natus ex ipsum eius atque suscipit fugit.</p>

                        <!-- animation -->
                        <div data-animation="animation_blocks" data-bottom="@class:noactive" data--100-bottom="@class:active">

                            <!-- item -->
                            <div class="sca_icon_box col-md-4 col-sm-6">
                                <div class="sca_icon_box_content">
                                    <h4><strong class="sca_timer">110</strong> Persons Mentored</h4>
                                </div>
                            </div>

                            <!-- item -->
                            <div class="sca_icon_box col-md-4 col-sm-6">
                                <div class="sca_icon_box_content">
                                    <h4><strong class="sca_timer">80</strong> Workshops Attended</h4>
                                </div>
                            </div>

                            <!-- item -->
                            <div class="sca_icon_box col-md-4 col-sm-6">
                                <div class="sca_icon_box_content">
                                    <h4><strong class="sca_timer">15</strong> Coaching Certificates</h4>
                                </div>
                            </div>


                        </div>
                        <!-- animation end -->

                        <a href="#" class="btn btn-icon">More About Me <i class="ti ti-arrow-right"></i></a>
                    </div>


                </div>
                <div class="col-md-6 sca_bordered_block sca_image_bck sca_grey_border" data-image="images/faces/shutterstock_220709620.jpg">
                    <div class="sca_over" data-color="#cfc799" data-opacity="0.2"></div>
                    <div class="sca_block_left_bottom sca_wht_txt">
                        <p><img src="images/logos/mentor_logo.png" height="400" alt=""></p>
                    </div>
                </div>
            </div>



        </div>
        <!-- container end -->

    </section>
    <!-- section end -->
    <!-- section -->
    <section class="sca_section sca_border">
        <div class="container-fluid">
            <div class="row sca_auto_height">
                <div class="col-md-6 sca_bordered_block sca_image_bck sca_grey_border sca_wht_txt" data-image="images/hotel/c8wwhcvb9p4-scott-webb.jpg">
                    <div class="sca_over" data-color="#292929" data-opacity="0.8"></div>
                    <div class="sca_simple_block">
                        <h2 data-animation="animation_blocks" data-bottom="@class:noactive" data--100-bottom="@class:active">Contacts</h2>
                        <ul class="spa_contacts_form">
                            <li><span class="ti ti-mobile"></span>+11 (0) 200 1111 001</li>
                            <li><span class="ti ti-email"></span><a href="mailto:support@scalatheme.com">support@scalatheme.com</a></li>
                            <li><span class="ti ti-location-pin"></span>Australia place nice, RD nice DHA Road, state pace 786</li>
                        </ul>

                        <h4>
                            Stay informed with our newsletter
                        </h4>
                        <form action="#">
                            <input placeholder="Enter Your Email" class="form-control form-opacity no-margin newsletter_input" type="email" required />
                            <a href="#" class="btn">Subscribe</a>

                        </form>
                        <div class="sca_form_tip">
                            <i class="ti ti-info"></i> Please trust us, we will never send you spam
                        </div>
                    </div>
                </div>
                <div class="col-md-6 sca_bordered_block sca_image_bck sca_grey_border" data-color="#f2f2f2">

                    <div class="sca_simple_block">
                        <h2 data-animation="animation_blocks" data-bottom="@class:noactive" data--100-bottom="@class:active">Write Us</h2>
                        <form action="https://formspree.io/your@mail.com"
                              method="POST">
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="text" name="name" class="form-control form-opacity" placeholder="Name*">
                                </div>
                                <div class="col-md-6">
                                    <input type="text" name="surname" class="form-control form-opacity" placeholder="Surname*">
                                </div>

                                <div class="col-md-6">
                                    <input type="text" name="email" class="form-control form-opacity" placeholder="E-mail*">
                                </div>
                                <div class="col-md-6">
                                    <input type="text" name="phone" class="form-control form-opacity" placeholder="Phone">
                                </div>
                                <div class="col-md-12">
                                    <textarea placeholder="Message" name="message" class="form-control form-opacity"></textarea>
                                </div>
                                <div class="col-md-12">
                                    <input type="submit" class="btn submit" value="Send">
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- section end -->
    <!-- section -->
    <section class="sca_section sca_border sca_grey_border sca_fixed sca_image_bck" data-image="images/creativity/nvzvopqw0gc-bench-accounting.jpg" data-stellar-background-ratio="0.2">

        <div class="sca_over" data-color="#cfc799" data-opacity="0.4"></div>

        <div class="container text-center">

            <h2>Successful Stories</h2>

            <div class="sca_team_slider_single">
                <div class="sca_reviews_item">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam magni aperiam perferendis quas eveniet. Aspernatur nisi debitis mollitia perspiciatis. Aspernatur fugiat velit vel excepturi explicabo dolore! Voluptatem, quo dolores accusantium.</p>
                    <div class="sca_reviews_item_img">
                        <img src="images/faces/100x100/rdeovte7vos-christopher-campbell.jpg" alt="">
                    </div>
                    <p>Mirabelle Noelene</p>
                </div>
                <div class="sca_reviews_item">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam magni aperiam perferendis quas eveniet. Aspernatur nisi debitis mollitia perspiciatis. Aspernatur fugiat velit vel excepturi explicabo dolore! Voluptatem, quo dolores accusantium.</p>
                    <div class="sca_reviews_item_img">
                        <img src="images/faces/100x100/u6vdr7s3afy-david-cohen.jpg" alt="">
                    </div>
                    <p>Claude Allegra</p>
                </div>
                <div class="sca_reviews_item">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam magni aperiam perferendis quas eveniet. Aspernatur nisi debitis mollitia perspiciatis. Aspernatur fugiat velit vel excepturi explicabo dolore! Voluptatem, quo dolores accusantium.</p>
                    <div class="sca_reviews_item_img">
                        <img src="images/faces/100x100/pas4im6ogwi-joe-gardner.jpg" alt="">
                    </div>
                    <p>Emmaline Cynthia</p>
                </div>
            </div>


        </div>
        <!-- container end -->
    </section>
    <!-- section end -->



</section>
<!-- Content End -->
<!-- Footer -->
<section class="sca_section sca_border sca_grey_border sca_image_bck sca_wht_txt" data-color="#292929">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <h4>Contact Us</h4>
                <p>
                    68 Cardamon Place, Melbourne Vic 3000<br>
                    Call us: 1.777.77.777<br>
                    <a href="mailto:hello@scalatheme.com">hello@scalatheme.com</a>
                </p>

                <form action="#">
                    <input placeholder="Enter Your Email" class="form-control form-opacity no-margin newsletter_input" type="email" required />
                    <a href="#" class="btn">Subscribe</a>

                </form>

            </div>
            <div class="col-md-4 col-sm-4">
                <h4>Latest Posts</h4>
                <ul class="list-unstyled">
                    <li><a href="#">Made with Love in Toronto</a></li>
                    <li><a href="#">Startup News & Emerging Tech</a></li>
                    <li><a href="#">Bitcoin Will Soon Rule The World</a></li>
                    <li><a href="#">Wearable Technology On The Rise</a></li>
                    <li><a href="#">Learn Web Design in 30 Days!</a></li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-4">
                <h4>Latest Tweets</h4>
                <div class="sca_twitter">
                    <a class="twitter-timeline" data-tweet-limit="1" data-theme="dark" data-link-color="#eee" data-chrome="noscrollbar noheader nofooter noborders transparent" href="https://twitter.com/maskandesign">Tweets by maskandesign</a>
                    <script async src="../../platform.twitter.com/widgets.js" charset="utf-8"></script>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="sca_block">
                    <p>© Scala 2017. Copyright. Scala Theme.</p>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- Footer End -->