@{
    ViewData["Title"] = "About";
    Layout = "_innoLayout";
}

  <!-- PAGE TITLE SMALL -->
<div class="sca_page_title sca_page_title_great sca_image_bck sca_fixed sca_wht_txt" data-stellar-background-ratio="0.2" data-image="images/creativity/rvp7adbhu2a-lukas-budimaier.jpg">


    <!-- Over -->
    <div class="sca_over" data-color="#282828" data-opacity="0.7"></div>

    <div class="container text-left">
        <div class="row">

            <div class="col-md-8">
                <h1 class="sca_h1_title">About Page</h1>
                <h3>Some Subtitle</h3>
            </div>

            <div class="col-md-4">
                <div class="breadcrumbs">
                    <a href="#">Home</a><a href="#">PAGES & FEATURES</a><span>About Page</span>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Content -->
<section id="sca_content" class="sca_content">





    <!-- section -->
    <section class="sca_section sca_border sca_grey_border sca_fixed sca_image_bck sca_wht_txt" data-image="images/fashion/0t7pnnzltc0-doodoosonic.jpg" data-stellar-background-ratio="0.2">

        <div class="sca_over" data-color="#292929" data-opacity="0.7"></div>

        <div class="container text-center">

            <h2 data-animation="animation_blocks" data-bottom="@@class:noactive" data--100-bottom="@@class:active">Become <span>Our Model</span></h2>


            <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur aliquid dolorem eius voluptatem exercitationem, ipsam.</h3>
            <a href="#" class="btn">Apply Now</a>


        </div>
        <!-- container end -->
    </section>
    <!-- section end -->
    <!-- section -->
    <section class="sca_section sca_wht_txt sca_border">
        <div class="container-fluid">

            <!-- Title -->
            <h4 class="sca_sml_abs_title">Reviews</h4>

            <div class="sca_team">

                <!--Item-->
                <div class="sca_bordered_block sca_image_bck sca_bordered_zoom">
                    <div class="sca_image_over sca_image_bck" data-image="images/portraits/600x600/4e7lyu3ohfw-sebastian-unrau.jpg"></div>
                    <div class="sca_box_content text-center">
                        <div class="sca_bottom_title sca_hidden_title">
                            <h3>Casey Avril</h3>
                            <p class="sca_review_txt">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua.
                            </p>
                        </div>
                    </div>
                </div>

                <!--Item-->
                <div class="sca_bordered_block sca_image_bck sca_bordered_zoom">
                    <div class="sca_image_over sca_image_bck" data-image="images/portraits/600x600/q7r-iezw1bu-nik-macmillan.jpg"></div>
                    <div class="sca_box_content text-center">
                        <div class="sca_bottom_title sca_hidden_title">
                            <h3>Frankie Abegail</h3>
                            <p class="sca_review_txt">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua.
                            </p>
                        </div>
                    </div>
                </div>

                <!--Item-->
                <div class="sca_bordered_block sca_image_bck sca_bordered_zoom">
                    <div class="sca_image_over sca_image_bck" data-image="images/portraits/600x600/jlpbqps13o8-joe-gardner.jpg"></div>
                    <div class="sca_box_content text-center">
                        <div class="sca_bottom_title sca_hidden_title">
                            <h3>Opaline Jools</h3>
                            <p class="sca_review_txt">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua.
                            </p>
                        </div>
                    </div>
                </div>

                <!--Item-->
                <div class="sca_bordered_block sca_image_bck sca_bordered_zoom">
                    <div class="sca_image_over sca_image_bck" data-image="images/portraits/600x600/hkquadjl8cu-tanja-heffner.jpg"></div>
                    <div class="sca_box_content text-center">
                        <div class="sca_bottom_title sca_hidden_title">
                            <h3>Deziree Lynette</h3>
                            <p class="sca_review_txt">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua.
                            </p>
                        </div>
                    </div>
                </div>

                <!--Item-->
                <div class="sca_bordered_block sca_image_bck sca_bordered_zoom">
                    <div class="sca_image_over sca_image_bck" data-image="images/portraits/600x600/pebkuq_qzuk-dylan-hibbert.jpg"></div>
                    <div class="sca_box_content text-center">
                        <div class="sca_bottom_title sca_hidden_title">
                            <h3>Irwin Mervin</h3>
                            <p class="sca_review_txt">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua.
                            </p>
                        </div>
                    </div>
                </div>

                <!--Item-->
                <div class="sca_bordered_block sca_image_bck sca_bordered_zoom">
                    <div class="sca_image_over sca_image_bck" data-image="images/faces/600x600/epqjdxojjta-ryan-moreno.jpg"></div>
                    <div class="sca_box_content text-center">
                        <div class="sca_bottom_title sca_hidden_title">
                            <h3>Dani Gaynor</h3>
                            <p class="sca_review_txt">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua.
                            </p>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <!-- container end -->

    </section>
    <!-- section end -->
    <!-- section -->
    <section class="sca_section sca_border sca_grey_border sca_fixed sca_image_bck sca_wht_txt" data-image="images/creativity/gxnyoltxcr8-jonathan-simcoe.jpg" data-stellar-background-ratio="0.2">

        <div class="sca_over" data-color="#292929" data-opacity="0.6"></div>

        <div class="container text-center">

            <h2 data-animation="animation_blocks" data-bottom="@@class:noactive" data--100-bottom="@@class:active">Do You Have <span>Any Question?</span><br>+41 777 345 6789</h2>


            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur aliquid dolorem eius voluptatem exercitationem, ipsam.</p>
            <a href="#" class="btn">Contact With Us</a>


        </div>
        <!-- container end -->
    </section>
    <!-- section end -->
    <!-- section -->
    <section class="sca_section sca_wht_txt sca_border">
        <div class="container-fluid">

            <!-- Title -->
            <h4 class="sca_sml_abs_title">Our Team</h4>

            <div class="sca_team">

                <!--Item-->
                <div class="sca_bordered_block sca_image_bck sca_bordered_zoom">
                    <div class="sca_image_over sca_image_bck" data-image="images/faces/1qyw0de2xc8-clem-onojeghuo.jpg"></div>
                    <div class="sca_box_content text-center">
                        <div class="sca_bottom_title sca_hidden_title">
                            <h3>Benedict Brannon</h3>
                            <p>Art Director</p>
                        </div>
                    </div>
                </div>

                <!--Item-->
                <div class="sca_bordered_block sca_image_bck sca_bordered_zoom">
                    <div class="sca_image_over sca_image_bck" data-image="images/faces/8qhrv-_dsvo-kaci-baum.jpg"></div>
                    <div class="sca_box_content text-center">
                        <div class="sca_bottom_title sca_hidden_title">
                            <h3>Dani Gaynor</h3>
                            <p>Manager</p>
                        </div>
                    </div>
                </div>

                <!--Item-->
                <div class="sca_bordered_block sca_image_bck sca_bordered_zoom">
                    <div class="sca_image_over sca_image_bck" data-image="images/faces/kxxl-eholbu-sylvain-reygaerts.jpg"></div>
                    <div class="sca_box_content text-center">
                        <div class="sca_bottom_title sca_hidden_title">
                            <h3>Chaz Peyton</h3>
                            <p>Manager</p>
                        </div>
                    </div>
                </div>

                <!--Item-->
                <div class="sca_bordered_block sca_image_bck sca_bordered_zoom">
                    <div class="sca_image_over sca_image_bck" data-image="images/faces/njvawbpmew0-alexandru-zdrobau.jpg"></div>
                    <div class="sca_box_content text-center">
                        <div class="sca_bottom_title sca_hidden_title">
                            <h3>Kaye Roxy</h3>
                            <p>Manager</p>
                        </div>
                    </div>
                </div>

                <!--Item-->
                <div class="sca_bordered_block sca_image_bck sca_bordered_zoom">
                    <div class="sca_image_over sca_image_bck" data-image="images/faces/shutterstock_223162651.jpgshutterstock_223162651.jpg.jpg"></div>
                    <div class="sca_box_content text-center">
                        <div class="sca_bottom_title sca_hidden_title">
                            <h3>Grier Steven</h3>
                            <p>Manager</p>
                        </div>
                    </div>
                </div>

                <!--Item-->
                <div class="sca_bordered_block sca_image_bck sca_bordered_zoom">
                    <div class="sca_image_over sca_image_bck" data-image="images/faces/vczh1joyre8-eli-defaria.jpg"></div>
                    <div class="sca_box_content text-center">
                        <div class="sca_bottom_title sca_hidden_title">
                            <h3>Therese Yvonne</h3>
                            <p>Manager</p>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <!-- container end -->

    </section>
    <!-- section end -->



</section>
<!-- Content End -->
