@{
    ViewData["Title"] = "Blog";
    Layout = "_innoLayout";
}

  <!-- PAGE TITLE SMALL -->
<div class="sca_page_title sca_page_title_great sca_image_bck sca_wht_txt" data-color="#282828">



    <div class="container text-left">
        <div class="row">

            <div class="col-md-8">
                <h1 class="sca_h1_title">Blog</h1>
                <h3>Some Subtitle</h3>
            </div>

            <div class="col-md-4">
                <div class="breadcrumbs">
                    <a href="#">Home</a><a href="#">Blog</a><span>Blog</span>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Content -->
<section id="sca_content" class="sca_content">





    <!-- section -->
    <section class="sca_section">
        <div class="container">

            <div class="row">
                <div class="col-md-8 col-xs-12">

                    <!-- Post Item -->
                    <div class="sca_post_item">

                        <div class="sca_post_img">
                            <a href="#"><img src="images/creativity/72hvnjtgxjq-benjamin-balazs.jpg" alt=""></a>
                        </div>

                        <div class="sca_post_title">
                            <h3><a href="#">We Love to design</a></h3>
                        </div>

                        <div class="sca_post_info">
                            August 10
                            <span class="slash-divider">/</span>
                            <a href="#">Harold Henry</a>
                            <span class="slash-divider">/</span>
                            <a href="#">Web-design</a>, <a href="#">Marketing</a>
                        </div>


                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, nostrum, cumque culpa provident aliquam commodi assumenda laudantium magnam illo nostrum. Donec nibh sapien, molestie quis elementum et, dim non atino ipsum.
                        </p>

                        <div class="sca_post_more clearfix">

                            <div class="pull-left">
                                <a href="#" class="btn">READ MORE</a>
                            </div>

                            <div class="pull-right">
                                <a href="#" class="sca_post_more_link"><i class="ti ti-comment"></i><span>14</span></a>
                                <a href="#" class="sca_post_more_link"><i class="ti ti-heart"></i><span>154</span></a>
                                <a href="#" class="dropdown-toggle sca_post_more_link" data-toggle="dropdown" aria-expanded="false">
                                    <i class="ti ti-sharethis"></i>
                                </a>
                                <ul class="sca_post_more_social_menu dropdown-menu dropdown-menu-right" role="menu">
                                    <li>
                                        <a href="#"><i class="ti ti-facebook"></i></a>
                                    </li>
                                    <li><a href="#"><i class="ti ti-twitter"></i></a>
                                    <li><a href="#"><i class="ti ti-instagram"></i></a>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <!-- item end -->
                    <!-- Post Item -->
                    <div class="sca_post_item">

                        <div class="sca_post_img sca_team_slider_single">
                            <a href="#"><img src="images/creativity/dtdlvpy-vvq-lee-campbell.jpg" alt=""></a>
                            <a href="#"><img src="images/creativity/e25hcrw2xlc-giulia-bertelli.jpg" alt=""></a>
                            <a href="#"><img src="images/creativity/eolpjytrbsq-jeff-sheldon.jpg" alt=""></a>
                        </div>

                        <div class="sca_post_title">
                            <h3><a href="#">Post with Slider Gallery</a></h3>
                        </div>

                        <div class="sca_post_info">
                            August 10
                            <span class="slash-divider">/</span>
                            <a href="#">Harold Henry</a>
                            <span class="slash-divider">/</span>
                            <a href="#">Web-design</a>, <a href="#">Marketing</a>
                        </div>


                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, nostrum, cumque culpa provident aliquam commodi assumenda laudantium magnam illo nostrum. Donec nibh sapien, molestie quis elementum et, dim non atino ipsum.
                        </p>

                        <div class="sca_post_more clearfix">

                            <div class="pull-left">
                                <a href="#" class="btn">READ MORE</a>
                            </div>

                            <div class="pull-right">
                                <a href="#" class="sca_post_more_link"><i class="ti ti-comment"></i><span>14</span></a>
                                <a href="#" class="sca_post_more_link"><i class="ti ti-heart"></i><span>154</span></a>
                                <a href="#" class="dropdown-toggle sca_post_more_link" data-toggle="dropdown" aria-expanded="false">
                                    <i class="ti ti-sharethis"></i>
                                </a>
                                <ul class="sca_post_more_social_menu dropdown-menu dropdown-menu-right" role="menu">
                                    <li>
                                        <a href="#"><i class="ti ti-facebook"></i></a>
                                    </li>
                                    <li><a href="#"><i class="ti ti-twitter"></i></a>
                                    <li><a href="#"><i class="ti ti-instagram"></i></a>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <!-- item end -->
                    <!-- Post Item -->
                    <div class="sca_post_item">

                        <div class="sca_post_img">
                            <iframe src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/239793212&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false" style="width: 100%; height: 166px; border: 0;"></iframe>
                        </div>

                        <div class="sca_post_title">
                            <h3><a href="#">Post with Soundcloud</a></h3>
                        </div>

                        <div class="sca_post_info">
                            August 10
                            <span class="slash-divider">/</span>
                            <a href="#">Harold Henry</a>
                            <span class="slash-divider">/</span>
                            <a href="#">Web-design</a>, <a href="#">Marketing</a>
                        </div>


                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, nostrum, cumque culpa provident aliquam commodi assumenda laudantium magnam illo nostrum. Donec nibh sapien, molestie quis elementum et, dim non atino ipsum.
                        </p>

                        <div class="sca_post_more clearfix">

                            <div class="pull-left">
                                <a href="#" class="btn">READ MORE</a>
                            </div>

                            <div class="pull-right">
                                <a href="#" class="sca_post_more_link"><i class="ti ti-comment"></i><span>14</span></a>
                                <a href="#" class="sca_post_more_link"><i class="ti ti-heart"></i><span>154</span></a>
                                <a href="#" class="dropdown-toggle sca_post_more_link" data-toggle="dropdown" aria-expanded="false">
                                    <i class="ti ti-sharethis"></i>
                                </a>
                                <ul class="sca_post_more_social_menu dropdown-menu dropdown-menu-right" role="menu">
                                    <li>
                                        <a href="#"><i class="ti ti-facebook"></i></a>
                                    </li>
                                    <li><a href="#"><i class="ti ti-twitter"></i></a>
                                    <li><a href="#"><i class="ti ti-instagram"></i></a>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <!-- item end -->
                    <!-- Post Item -->
                    <div class="sca_post_item">

                        <div class="sca_post_img">
                            <iframe style="width: 100%; height: 600px; border: 0;" src="https://www.youtube.com/embed/uVju5--RqtY?rel=0&amp;controls=0&amp;showinfo=0" allowfullscreen></iframe>
                        </div>

                        <div class="sca_post_title">
                            <h3><a href="#">Post with Video</a></h3>
                        </div>

                        <div class="sca_post_info">
                            August 10
                            <span class="slash-divider">/</span>
                            <a href="#">Harold Henry</a>
                            <span class="slash-divider">/</span>
                            <a href="#">Web-design</a>, <a href="#">Marketing</a>
                        </div>


                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, nostrum, cumque culpa provident aliquam commodi assumenda laudantium magnam illo nostrum. Donec nibh sapien, molestie quis elementum et, dim non atino ipsum.
                        </p>

                        <div class="sca_post_more clearfix">

                            <div class="pull-left">
                                <a href="#" class="btn">READ MORE</a>
                            </div>

                            <div class="pull-right">
                                <a href="#" class="sca_post_more_link"><i class="ti ti-comment"></i><span>14</span></a>
                                <a href="#" class="sca_post_more_link"><i class="ti ti-heart"></i><span>154</span></a>
                                <a href="#" class="dropdown-toggle sca_post_more_link" data-toggle="dropdown" aria-expanded="false">
                                    <i class="ti ti-sharethis"></i>
                                </a>
                                <ul class="sca_post_more_social_menu dropdown-menu dropdown-menu-right" role="menu">
                                    <li>
                                        <a href="#"><i class="ti ti-facebook"></i></a>
                                    </li>
                                    <li><a href="#"><i class="ti ti-twitter"></i></a>
                                    <li><a href="#"><i class="ti ti-instagram"></i></a>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <!-- item end -->
                    <!-- Post Item -->
                    <div class="sca_post_item">

                        <div class="sca_post_img">
                            <a href="images/creativity/9hw4lz0fhe4-ryan-hafey.jpg" class="lightbox">
                                <img src="images/creativity/9hw4lz0fhe4-ryan-hafey.jpg" alt="">
                            </a>
                        </div>

                        <div class="sca_post_title">
                            <h3><a href="#">Post with Lighbox</a></h3>
                        </div>

                        <div class="sca_post_info">
                            August 10
                            <span class="slash-divider">/</span>
                            <a href="#">Harold Henry</a>
                            <span class="slash-divider">/</span>
                            <a href="#">Web-design</a>, <a href="#">Marketing</a>
                        </div>


                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, nostrum, cumque culpa provident aliquam commodi assumenda laudantium magnam illo nostrum. Donec nibh sapien, molestie quis elementum et, dim non atino ipsum.
                        </p>

                        <div class="sca_post_more clearfix">

                            <div class="pull-left">
                                <a href="#" class="btn">READ MORE</a>
                            </div>

                            <div class="pull-right">
                                <a href="#" class="sca_post_more_link"><i class="ti ti-comment"></i><span>14</span></a>
                                <a href="#" class="sca_post_more_link"><i class="ti ti-heart"></i><span>154</span></a>
                                <a href="#" class="dropdown-toggle sca_post_more_link" data-toggle="dropdown" aria-expanded="false">
                                    <i class="ti ti-sharethis"></i>
                                </a>
                                <ul class="sca_post_more_social_menu dropdown-menu dropdown-menu-right" role="menu">
                                    <li>
                                        <a href="#"><i class="ti ti-facebook"></i></a>
                                    </li>
                                    <li><a href="#"><i class="ti ti-twitter"></i></a>
                                    <li><a href="#"><i class="ti ti-instagram"></i></a>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <!-- item end -->
                    <!-- navigation -->
                    <nav class="sca_blog_pag">
                        <ul class="pagination">
                            <li><a href="#"><i class="ti ti-angle-left"></i></a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#"><i class="ti ti-angle-right"></i></a></li>
                        </ul>
                    </nav>
                    <!-- navigation end -->

                </div>
                <!-- col end -->
                <!--Sidebar-->
                <div class="col-md-3 col-md-push-1 hidden-xs hidden-sm">


                    <div class="widget">
                        <h6 class="title">About The Author</h6>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                    </div>


                    <div class="widget">
                        <h6 class="title">Search Blog</h6>
                        <form>
                            <input class="form-control" type="text" placeholder="Enter Your Keywords" />
                        </form>
                    </div>


                    <div class="widget">
                        <h6 class="title">Blog Categories</h6>
                        <ul class="list-unstyled">
                            <li>
                                <a href="#">Business</a>
                            </li>
                            <li>
                                <a href="#">Creative</a>
                            </li>
                            <li>
                                <a href="#">Photography</a>
                            </li>
                            <li>
                                <a href="#">Freelance</a>
                            </li>
                        </ul>
                    </div>

                    <div class="widget">
                        <h6 class="title">Recent Posts</h6>
                        <ul class="list-unstyled recent-posts">
                            <li>
                                <a href="#">Ut enim ad minim veniam, quis nostrud</a>
                                <span class="date">November 10, 2016</span>
                            </li>
                            <li>
                                <a href="#">Excepteur sint occaecat</a>
                                <span class="date">November 08, 2016</span>
                            </li>
                            <li>
                                <a href="#">Duis aute irure dolor in reprehenderit in voluptate velit</a>
                                <span class="date">November 05, 2016</span>
                            </li>
                        </ul>
                    </div>


                    <div class="widget bg-secondary p24">
                        <h6 class="title">Subscribe Now</h6>
                        <p>
                            Subscribe to our newsletter.
                        </p>
                        <form>
                            <input type="text" class="form-control" name="email" placeholder="Email Address" />
                            <input type="submit" class="btn btn-default no-margin" value="Subscribe" />
                        </form>
                    </div>



                </div>
                <!--Sidebar End-->

            </div>



        </div>
        <!-- container end -->
    </section>
    <!-- section end -->



</section>
<!-- Content End -->