@{
    ViewData["Title"] = "Blog";
    Layout = "_innoLayout";
}

   <!-- PAGE TITLE SMALL -->
<div class="sca_page_title sca_page_title_great sca_image_bck sca_wht_txt" data-color="#282828">



    <div class="container text-left">
        <div class="row">

            <div class="col-md-8">
                <h1 class="sca_h1_title">Blog</h1>
                <h3>Some Subtitle</h3>
            </div>

            <div class="col-md-4">
                <div class="breadcrumbs">
                    <a href="#">Home</a><a href="#">Blog</a><span>Blog</span>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Content -->
<section id="sca_content" class="sca_content">





    <!-- section -->
    <section class="sca_section">
        <div class="container">

            <div class="row">
                <div class="col-md-12 col-xs-12">



                    <div class="sca_post_info">
                        August 10
                        <span class="slash-divider">/</span>
                        <a href="#">Harold Henry</a>
                        <span class="slash-divider">/</span>
                        <a href="#">Web-design</a>, <a href="#">Marketing</a>
                    </div>

                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    <blockquote>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat.
                    </blockquote>
                    <small>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </small>

                    <br /><br />
                    <ul>
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Consectetur adipiscing elit</li>
                        <li>Integer molestie lorem at massa</li>
                        <li>Facilisis in pretium nisl aliquet</li>
                        <li>
                            Nulla volutpat aliquam velit
                            <ul>
                                <li>Phasellus iaculis neque</li>
                                <li>Purus sodales ultricies</li>
                                <li>Vestibulum laoreet porttitor sem</li>
                                <li>Ac tristique libero volutpat at</li>
                            </ul>
                        </li>
                        <li>Faucibus porta lacus fringilla vel</li>
                        <li>Aenean sit amet erat nunc</li>
                        <li>Eget porttitor lorem</li>
                    </ul>

                    <!--  Comments -->
                    <section class="comments clearfix">
                        <div class="comments-title">
                            <h3 class="title">Comments</h3>
                        </div>
                        <div class="comments-content">
                            <div class="answer">
                                <img class="img-comments" src="images/faces/ar1.jpg" alt="" />
                                <div class="content-cmt">
                                    <span class="name-cmt">Jonh Doe</span>
                                    <span class="date-cmt">September 16, 2017</span>
                                    <span><a href="#">Reply</a></span>
                                    <p class="content-reply">
                                        Quisque sed metus eu nunc gravida euismod. Vivamus consequat sapien ut tempus hendrerit. Sed blandit vehicula urna sed posuere.
                                        Praesent commodo,
                                    </p>
                                </div>
                            </div>
                            <div class="reply">
                                <img class="img-comments" src="images/faces/ar2.jpg" alt="" />
                                <div class="content-cmt">
                                    <span class="name-cmt">Jonh Doe</span>
                                    <span class="date-cmt">September 16, 2017</span>
                                    <span><a href="#">Reply</a></span>
                                    <p class="content-reply">
                                        Quisque sed metus eu nunc gravida euismod. Vivamus consequat sapien ut tempus hendrerit. Sed blandit vehicula urna sed posuere.
                                        Praesent commodo,
                                    </p>
                                </div>
                            </div>
                            <div class="answer">
                                <img class="img-comments" src="images/faces/ar3.jpg" alt="" />
                                <div class="content-cmt">
                                    <span class="name-cmt">Jonh Doe</span>
                                    <span class="date-cmt">September 16, 2017</span>
                                    <span><a href="#">Reply</a></span>
                                    <p class="content-reply">
                                        Quisque sed metus eu nunc gravida euismod. Vivamus consequat sapien ut tempus hendrerit. Sed blandit vehicula urna sed posuere.
                                        Praesent commodo,
                                    </p>
                                </div>
                            </div>
                            <section class="form-comment">
                                <div class="form-comment-title">
                                    <h3 class="title">Leave a Comments</h3>
                                </div>

                                <form id="form-comment" class="form-validate" method="post">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="name">
                                                        <input type="text" placeholder="Your Name" name="name" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="mail">
                                                        <input type="email" placeholder="Your Email" name="email" class="form-control">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="website">
                                                        <input type="text" placeholder="Your Website" name="website" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="title">
                                                        <input type="text" placeholder="Title" name="title" class="form-control">
                                                    </div>
                                                </div>
                                            </div>




                                        </div>
                                        <div class="col-sm-12">
                                            <div class="message">
                                                <textarea placeholder="Your Message" rows="8" class="control form-control" id="message" name="message"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="form-submit">
                                                <input type="submit" value="Submit Comment" class="btn-submit btn-default btn" name="submit">
                                            </div>
                                        </div>
                                    </div>
                                </form>

                            </section>
                        </div>
                    </section>
                    <!-- End Comments -->




                </div>
                <!-- col end -->



            </div>



        </div>
        <!-- container end -->
    </section>
    <!-- section end -->



</section>
<!-- Content End -->
