@{
    ViewData["Title"] = "Home Page";
}

<!-- SLIDER -->
<section id="slider">
    <div id="home-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item active" style="background-image: url(images/SliderImages/pharma.jpg)">
                <div class="carousel-caption container">
                    <div class="row">
                        <div class="col-sm-7">
                            <h1>E Boni! </h1>
                            <h2>Eto ja s novim.</h2>
                            <p>This is my new. Look at it, it's so atarashii.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item" style="background-image: url(images/SliderImages/slide2.jpg)">
                <div class="carousel-caption container">
                    <div class="row">
                        <div class="col-sm-7">
                            <h1>みおさん！</h1>
                            <h2>こんにちは！</h2>
                            <p>これは私の新しいウェブサイトです. Well, I mean sort of, I just put this together like, 5 minutes ago.</p>
                        </div>
                    </div>
                </div>
            </div>
            <a class="home-carousel-left" href="#home-carousel" data-slide="prev"><i class="fa fa-angle-left"></i></a>
            <a class="home-carousel-right" href="#home-carousel" data-slide="next"><i class="fa fa-angle-right"></i></a>
        </div>
    </div> <!--/#home-carousel-->
</section>
<!-- /SLIDER -->
<!-- SERVICES -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h1>Services</h1>
                    <span class="st-border"></span>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 st-service">
                <h2><i class="fa fa-desktop"></i> Look! Paragraphs!</h2>
                <p>And there can be all kinds of glorious, sexy text here. Like news and stuff. And things! Imagine all the things!</p>
            </div>

            <div class="col-md-4 col-sm-6 st-service">
                <h2><i class="fa fa-cogs"></i> And EVEN MORE paragraphs!</h2>
                <p>Seriously, the amount of paragraphs on display here, pretty crazy.</p>
            </div>

            <div class="col-md-4 col-sm-6 st-service">
                <h2><i class="fa fa-code"></i> Čisto ak te zanima</h2>
                <p>Da, sad se igram s ovim umjesto da učim japanski. Da, malo jesam idijot. But this is kinda fun, so eh.</p>
            </div>

            <div class="col-md-4 col-sm-6 st-service">
                <h2><i class="fa fa-dashboard"></i> Oh! Oh!</h2>
                <p>And this is all running on a Japanese server! Now, I know, that's only interesting to me, but still!</p>
            </div>

            <div class="col-md-4 col-sm-6 st-service">
                <h2><i class="fa fa-life-ring"></i>This is just the basics</h2>
                <p>And I still have to make the blog site one of these days, but still, this is pretty neat.</p>
            </div>

            <div class="col-md-4 col-sm-6 st-service">
                <h2><i class="fa fa-weixin"></i> I'm out of ideas now</h2>
                <p>But I still have to write something so this block of text looks all square and pretty. So.. yeah. What's the weather like in tokyo?</p>
            </div>
        </div>
    </div>
</section>
<!-- /SERVICES -->
