@{
    ViewData["Title"] = "Users";
    Layout = "_classroomLayout";
}
@model List<Okunishushi.Models.User>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header" data-background-color="purple">
                    <a href="/classroom/newuser" class="btn btn-info btn-fill pull-right">Add New User</a>
                    <h4 class="title">Simple Table</h4>
                    <p class="category">Here is a subtitle for this table</p>
                </div>
                <div class="card-content table-responsive">
                    <table class="table">
                        <thead class="text-primary">
                        <th>Name</th>
                        <th>Role</th>
                        </thead>
                        <tbody>
                            @foreach (Okunishushi.Models.User user in Model)
                            {
                                <tr>
                                    <td>@user.Username</td>
                                    <td>@(user.UserRole?.Count > 0 ? String.Join(", ", user.UserRole?.Select(x => x.Role.Name)): "")</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>