@{
    ViewData["Title"] = "Users";
    Layout = "_classroomLayout";
}
@model List<Okunishushi.Models.Role>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <a href="/classroom/newrole" class="btn btn-info btn-fill pull-right">Add New Role</a>
                    <h4 class="title">Striped Table with Hover</h4>
                    <p class="category">Here is a subtitle for this table</p>
                </div>
                <div class="content table-responsive table-full-width">
                    <table class="table table-hover table-striped">
                        <thead>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Salary</th>
                        <th>Country</th>
                        <th>City</th>
                        </thead>
                        <tbody>
                            @foreach(Okunishushi.Models.Role role in Model){
                                <tr>
                                    <td>@role.Id</td>
                                    <td>@role.Name</td>
                                    <td>$36,738</td>
                                    <td>Niger</td>
                                    <td>Oud-Turnhout</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
